div {text-align: right;}
/* #ab1 {position: absolute; top: 0; bottom: 0; left: 0; right: 50%; width: 50%; height: 100%; background: gray; margin: 2em;} */
#ab1 {position: absolute; top: 0; bottom: 0; left: 0; right: 50%; width: 50%; height: 100%; background: gray; padding: 2em;}