#masthead {position: relative; border: 1px solid black; top: 1em; left: 1em; width: 50em; height: 10em; margin: 0;}
#masthead h1 {position: absolute; top: 1em; left: 1em; right: 25%; bottom: 10px;
    margin: 0; padding: 0; background: silver;}
