#masthead {position: relative; border: 1px solid black; top: 1em; left: 1em; width: 50em; height: 10em; margin: 0;}
#masthead h1 {position: absolute; top: 0; left: 1em; right: 10%; bottom: 0;
    margin: 0; padding: 0; height: 1em; width: 50%; background: silver;}
