body {background: black; color: silver;}
div#header {position: fixed; top: 0; bottom: 80%; left: 20%; right: 0; background: gray;
    margin-bottom: 2px; color: yellow;}
div#sidebar {position: fixed; top: 0; bottom: 0; left: 0; right: 80%;
    background: silver; margin-right: 2px; color: maroon;}
div#main {position: absolute; top: 20%; bottom: 0; left: 20%; right: 0;
    overflow: auto; background: white; color: black;}
div#footer {position: fixed; bottom: 0; width: 100%; height: auto;}
