p {background-image: url(yin-yang-small.jpg);
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    border: 1px dotted gray;}
/* p.c1 {background-repeat: repeat-y;}
p.c2 {background-repeat: repeat-x;} */
